<?xml version="1.0"?>

<launch>

  <node name="rviz" pkg="rviz" type="rviz"/>
  
  <node
		name="smb_highlevel_controller"
		pkg="smb_highlevel_controller"
		type="smb_highlevel_controller"
		output="screen">
		
		<rosparam
			command="load"
			file="$(find smb_highlevel_controller)/config/config.yaml"/>
		
	</node>

  <!-- Launching the SMB simulation with world -->
  <include file="$(find smb_gazebo)/launch/smb_gazebo.launch">
    <arg name="world_file" value="$(find smb_highlevel_controller)/worlds/singlePillar.world"/>
    <arg name="laser_enabled" value="true"/>
  </include>

  <param name="use_sim_time" value="true" />
  <node name="rqt_multiplot" pkg="rqt_multiplot" type="rqt_multiplot" output="screen" />
  <node
		name="control"
		pkg="teleop_twist_keyboard"
		type="teleop_twist_keyboard.py"
		output="screen"/>
  
</launch>
